.tagOutter{

    display: flex;
    justify-content: center;
    align-items: center;
    width:100vw;
    height: 35rem;
    /* max-height:100vh; */
    background-color: black;
    color: white;
}
.tagInner{
    font-size: 1.4rem;
    letter-spacing: 0.1rem;
    line-height: 1.36;
    word-spacing: 0.06rem;
}
.adminlayoutbgc{
    background-color:black;
    color: white;
    border: 2px solid wheat;
    padding: 20px;
    margin-left: 2em;
    margin-right: 2em;
}
.adminLayoutNavcontainer{

    display: flex;
    /* justify-content: center; */
    flex-direction: row;
}
.adminLayoutNavcontainer li{
    margin: 5px;
    color: white;
}

.adminLayoutUL li{
    color: white;
}

.defaultpagemaincontentConteiner{
    background-color: black;
    color: white;
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.adminLayoutLoading{
    width: 100%;
    height: 60vh;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}
/* 
th,tr,table,td{
    border: 1px solid black;
} */