
.sectionLoginContainer {

    display: flex;
    max-height:fit-content;
    max-width: 100%;
    padding: 0 20px 0 20px;
    background-color: black;
    /* border: 1px solid wheat; */
}

.figureLoginContainer,
.mainLoginContainer {
    flex: 1;
    background-color: black;
    height: 100vh;
    /* border: 1px solid darkmagenta; */
}

.LHStag{
    /* border: 1px solid darkorange; */
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    max-width: 100%;
    height: 99%;
    margin: 5px;
}

.logimage{
    border: 3px solid black;
    border-radius: 28em;
    max-width: 100%;
    height: 80%;
}
.logimage img{
    max-width: 100%;
    height: 100%;
border: 1px solid green;
}



.mainLoginContainer {
    background-color: black;
    color: whitesmoke;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;

}

.contentContainer {
    /* border: 1px solid red; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height:100% ;
}

.formContainer {
    /* border: 1px solid yellow; */
    width: 80%;
    height: 100%;
    padding:2em;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 4px solid #ffda79;
    background-color: #1e272e;
    box-sizing: border-box;    
}

.logininputDIV{
    width: 100%;
    text-align: center;
    /* border: 1px solid yellow; */
}
.custom-input{
    width: 60%;
    margin: 1.5rem 0 1.5rem 0;
    border-radius: 8px;
    background: gray;
}


.lgBtn {
    margin: 2rem;
    width: 100%;
}

.lgBtn button {
    padding: 0.5rem;
    border: 1px solid dodgerblue;
    background-color: dodgerblue;
    border-radius: 8px;
}

.lgBtn button:hover {
    cursor: pointer;
    background-color: darkcyan;
    border: 1px solid #ff9f1a;
    color: white;
}


/* Media Query */

@media screen and (max-width:767px) {

    .figureLoginContainer{
        display: none;
    }
    .custom-input{
        width: 100%;
     }
}


/* For screens between 768px and 1023px (tablets) */
@media screen and (min-width: 767px) and (max-width: 950px) {

    .figureLoginContainer{
        display: none;
    }
    .custom-input{
        width: 100%;
    }
}










