.container{
    max-width: 140rem;
    padding: 2rem 1.4rem;
    display: flex;
    justify-content: space-between;
    background-color: black;
}

.navbarLink ul{
    display: flex;
    gap: 3.2rem;
}

.navbarLink a{
    font-size: 1.8rem;
    font-weight:500;
    letter-spacing: 0.1rem;
    color: #3742fa;
    text-decoration: inherit;
    border-bottom: 2px solid transparent;
  }

.navbarLink a:hover{
    color:#dda4a4;
    /* color:darkturquoise; */
}
  .navbarLink a.active{
    border-bottom: 3px solid #d63031;
    color: #F8EFBA;
  }
  .logoName{
    border: 0.5em solid white;
    box-sizing: border-box;
    padding: 0.2em;
  }
  .logoName h1{
    color: gold;
    font-stretch:expanded;
    font-size: 2.7rem;
    font-weight:500;
    letter-spacing: 0.4rem;    
  }
  /* Define the animation */
  @keyframes shine {
    0% { background-color: gold; }
    50% { background-color: rgba(255, 215, 0, 0.5); }
    100% { background-color: gold; }
  }

  /* Apply the animation to the tag */
  .shining-tag {
    animation: shine 2s infinite;
  }


  /* Media Queries */

/* For screens smaller than 768px (phones) */
@media screen and (max-width: 767px) {
  .container {
      padding: 1rem;
      flex-direction: column; 
      align-items: center;  
  }

  .navbarLink{
    border: 0.3em solid rebeccapurple;
    padding: 0.5em;
    margin: 0px;
  }
  .navbarLink ul {
      flex-wrap: wrap;
      gap: 1rem;
  }

  .logoName {
    border: 0.1em solid white;
    box-sizing: border-box;
      margin-bottom: 1rem; 
  }
}

/* For screens between 768px and 1023px (tablets) */
@media screen and (min-width: 767px) and (max-width: 1023px) {
  .container {
  flex-direction: column; 
  align-items: center;  
      padding: 1.5rem;
  }
  .logoName {
    border: 0.3em solid white;
    box-sizing: border-box;
      margin-bottom: 1rem; 
  }
  .navbarLink{
    border: 0.2em solid rebeccapurple;
    padding: 0.5em;
    margin: 0px;
   }

}

/* For screens larger than 1023px (desktops) */
@media screen and (min-width: 1024px) {
  /* Additional styles for desktops (If you Have) */
}