* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sectionTag {
    display: flex;
    max-height: 100vh;
    padding: 0 30px 0 30px;
    background-color: black;
}

.figureTag,
.mainTag {
    flex: 1;
    background-color: black;
    border: none;
}

.figureTag {
    /* background-color: teal; */
    max-height: 100vh;
    position: relative;
    overflow: hidden;
}

.regimage {
    width: fit-content;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}


.mainTag {
    background-color: black;
    color: whitesmoke;
    max-height: 100vh;
    margin-left: 4.5rem;

}


.regInput{
    width: 50%;
    border-radius: 8px;
    margin-bottom: 0.8rem;
    background: #747d8c;
}



.btnTag {
    display: flex;
    justify-content: center;
    max-width: 50%;
}

.subBtn {
    background-color: dodgerblue;
    border: 1px solid dodgerblue;
    border-radius: 1rem;
    padding: 0.5rem;
    margin: 1rem;
    width: 8rem;
}

.subBtn:hover {
    cursor: pointer;
    background-color: darkcyan;
    border: 1px solid crimson;
    color: white;
}

input:hover {
    cursor: pointer;
}

.formHeadingTag {

    background-color: black;
    padding: 10px;
    height: fit-content;
    width: fit-content;
    color: whitesmoke;
    margin-bottom: 2rem;
    border-bottom: 3px solid blue;
}

.headingWord {
    font-size: 2.5rem;
    margin: 2px;
}