*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Urbanist;
}
.adminTitle{
  background-color: dodgerblue;
  text-decoration: yellow;
}

html{
  font-size: 62.5%;
}

:root{

  --bg-color:#f4f3ff;
  --btn-color:#646cff;
  --dark-color:#242424;
  --helper-color:#99b9ff;
}

body{

  margin: 0;
  min-width: 32rem;
  min-height: 100vh;
}
a{
  text-decoration: none;
}
li, ul{
  list-style: none;
}


input[type=text],
input[type=password],
input[type=number],
input[type=email] {
    padding: 8px;
    display: inline-block;
    border: none;
}


input[type=text]:focus,
input[type=password]:focus,
input[type=number]:focus,
input[type=email]:focus {
    background-color: #ddd;
    outline: none;
    border:1px solid rgba(246, 15, 15, 0.492);
}


input[type=text]:hover,
input[type=password]:hover,
input[type=number]:hover,
input[type=email]:hover,textarea:hover{
    background-color: #ffffff;
    outline: none;
}

input::placeholder {
    color: #bdc3c7;
}

input:focus::placeholder {
    color: transparent;
}

textarea::placeholder {
  color: #bdc3c7;
}

textarea:focus::placeholder {
  color: transparent;
}



label {
    display: block;
    margin-bottom: 0.8rem;
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
    line-height: 1.36;
    word-spacing: 0.06rem;
    color: #fdcb6e;
}



/* Tostify Csss */

.Toastify__toast--error {
  border: 1px solid #EB5757;
  border-radius: 50px !important;
  background: #FAE1E2 !important;
}
.Toastify__toast--error::after {
content : url('../assets/images/svg/closeToast.svg'); 
position: absolute;
color: #333333;
font-size: 15px;
font-weight: 700;
left:265px;
padding-top: 14px !important;
}
.Toastify__toast--error::before {
content: url("../assets/images/svg/errorToast.svg");
position:relative; 
z-index:100000;
left:12px;
top:6px;
}
.Toastify__toast--success {
border: 1px solid #3A9EA5 !important;
border-radius: 50px !important;
/* background: #F0F9FA !important; */
background: greenyellow !important;
}
.Toastify__toast--success::before {
content: url("../assets/images/svg/successToast.svg");
position:relative; 
z-index:100000;
left:12px;
top:6px;
}
.Toastify__toast--success::after {
content : url('../assets/images/svg/closeToast.svg');
position: absolute;
color: #333333;
font-size: 15px;
font-weight: 700;
left:265px;
padding-top: 14px !important;
}
.Toastify__toast--warning {
  border: 1px solid #E78326  !important;
  border-radius: 50px !important;
  background: #FADFC5 !important;
  }
  .Toastify__toast--warning::before {
  content: url("../assets/images/svg/warnToast.svg");
  position:relative; 
  z-index:100000;
  left:12px;
  top:6px;
  }  
  .Toastify__toast--warning::after {
  content : url('../assets/images/svg/closeToast.svg'); 
  position: absolute;
  color: #E78326;
  font-size: 15px;
  font-weight: 700;
  left:265px;
  padding-top: 14px !important;
  }
  
.Toastify__toast--info {
border: 1px solid #E78326  !important;
border-radius: 50px !important;
background: #FADFC5 !important;
}
.Toastify__toast--info::before {
content: url("../assets/images/svg/warnToast.svg");
position:relative; 
z-index:100000;
left:12px;
top:6px;
}  
.Toastify__toast--info::after {
content : url('../assets/images/svg/closeToast.svg'); 
position: absolute;
color: #E78326;
font-size: 15px;
font-weight: 700;
left:265px;
padding-top: 14px !important;
}


.Toastify__toast-body {
color: #444C63    ;
font-size: 16px;
padding-left: 20px;
line-height: 20px;
padding: 0px;
padding-top: 25px;
width: 100%;
font-weight: 400;
margin-left: 25px !important;
} 
.Toastify__toast > button>  svg {
  display: none;
}






/* h1{
  font-size: 5.4rem;
  font-weight:bold;
  line-height: 1.1;
} */
/* 
p,li,input,textarea{

  font-size: 1.2rem;
  line-height: 1.36;
  letter-spacing: 0.1rem;
  word-spacing: 0.06rem;
  list-style: none;
} */

/* a{
  font-size: 1.8rem;
  font-weight:500;
  letter-spacing: 0.1rem;
  color: #3742fa;
  text-decoration: inherit;
} */

  /* color:var(--btn-color); */


/* .container{

  max-width: 140rem;
  padding: 4rem 2.4rem;
  margin:0 auto;
} */


/* label {
    display: block;
    margin-bottom: 0.8rem;
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
    line-height: 1.36;
    word-spacing: 0.06rem;
    color: #fdcb6e;
} */

